{node, [
 {run_as_user, "root"},
 {run_as_group, "root"},
 {smp, enabled}
]}.

{lager, [
    {handlers, [
        {lager_file_backend, [
            {file, "/var/log/scg-ergw-node/error.log"},
            {level, error},
            {size, 0},
            {date, ""}
        ]},
        {lager_file_backend, [
            {file, "/var/log/scg-ergw-node/console.log"},
            {level, debug},
            {size, 0},
            {date, ""}
        ]}
    ]},
    {colored, true},
    {error_logger_redirect, true},
    {crash_log, "/var/log/scg-ergw-node/crash.log"}
]}.

{ergw, [{ip,  {172,20,16,168}},
	 {apn, [{netns, "/var/run/netns/upstream"},
		{routes, [{{10, 180, 0, 0}, 16}]},
		{pools,  [{{10, 180, 0, 0}, 16},
			  {{16#8001, 0, 0, 0, 0, 0, 0, 0}, 48}]}
	       ]}
]}.
