%% place system-specific configuration in this file
{node, [
%	{cookie, "582e979377b60ad06fb107491d61f7d8"}
	{cookie, "secret"}
]}.

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "/var/log/scg-ergw-node/error.log"},
            {level, error},
            {size, 0},
            {date, ""}
        ]},
        {lager_file_backend, [
            {file, "/var/log/scg-ergw-node/console.log"},
            {level, debug},
            {size, 0},
            {date, ""}
        ]}
    ]},
    {colored, true},
    {error_logger_redirect, true},
    {crash_log, "/var/log/scg-ergw-node/crash.log"}
]}.

{ergw, [{control_node, 'scg-control-node@SCG4'},
	{ip,  {10, 101, 1, 4}},
	{apn, [{netns, "/var/run/netns/upstream"},
	       {routes, [{{10, 180, 0, 0}, 16}]},
	       {pools,  [{{10, 180, 0, 0}, 16},
			 {{16#8001, 0, 0, 0, 0, 0, 0, 0}, 48}]}
	      ]}
]}.
